/* ==========================================================================
   HEADLINES / GRADIENT TYPOGRAPHY
   ========================================================================== */

h1,
h2,
.headline {
  font-family: var(--font-headline);

  font-size: var(--font-size-xxl);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-lg);

  background: linear-gradient(90deg, var(--accent-primary), var(--accent-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--accent-primary);

  transition: all var(--transition);
  z-index:9;
}

h2 {
  font-size: var(--font-size-xl);
  letter-spacing: var(--letter-spacing-md);
}

/* ==========================================================================
   RESPONSIVE HEADLINES
   ========================================================================== */

@media (max-width: 648px) {
  .headline {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-lg);
  }
}

@media (max-width: 468px) {
  .headline {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-sm);
  }
}
