/* ===== Referenzen Ticker ===== */
#references {
  background: #000;
  padding: 1.2rem 0 0.8rem;
}

.img-ticker-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
  padding-bottom: 3.5rem;
}

.img-ticker {
  display: flex;
  gap: 2.5rem; /* Abstand zwischen Logos */
  white-space: nowrap;
  will-change: transform;
}

.tickerlogo {
  flex: none;
  width: 11rem;
  height: 10rem;
  min-width: 11rem;
  max-width: 11rem;
  min-height: 10rem;
  max-height: 10rem;

  object-fit: contain;
  object-position: center;
  display: block;
  filter: brightness(0.8);
  transition: filter 0.2s ease, transform 0.3s ease;
}

.tickerlogo:hover {
  filter: brightness(1);
  transform: scale(1.1) rotate(-1deg);
}

/* Mobile Optimierung */
@media (min-width: 400px) {
  .tickerlogo {
    width: 9rem;
    height: 8rem;
    min-width: 9rem;
    max-width: 9rem;
    min-height: 8rem;
    max-height: 8rem;
  }
}
